footer {
    background: rgb(50, 53, 57);

    position: relative;
    display: flex;
    flex-flow: row;

    justify-content: center;
    align-items: flex-end;

    box-shadow: 0 -1rem 2.5rem rgb(55, 55, 55);
}

blockquote {
    font-size: 1rem;
    font-style: italic;
    margin: 1rem;
    padding: 1rem 1.5rem;
    position: relative;

    width: 25rem;
    box-shadow: 0 0 1.875rem rgb(41,44,48);
    border-radius: 1.875rem;
}

blockquote cite {
    background-clip: text;
    background: -webkit-linear-gradient(rgb(122,137,222), rgb(73, 76, 103));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    padding-top: 0.625rem;
    display: block;
    text-align: right;
    font-weight: 700;
}

blockquote p {
    font-size: 1.25rem;
    letter-spacing: .05em;

    color: honeydew;
    clear: right;
}

blockquote p:nth-child(2) {
    float: right;
}

.copyright {
    color: rgb(181, 177, 173);
    opacity: 0.4;

    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
}