.calendar {
    min-height: 15.1875rem;
    text-align: center;
    margin: 0 auto;
}

.calendar-graph text.wday {
    visibility: hidden;
}

.calendar-graph text.month {
    font: 10px Montserrat;
    fill: honeydew;
}

.contrib-legend {
    text-align: right;
    padding: 0 0.875rem 0.625rem 0;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 0.3125rem;
    position: relative;
    bottom: -0.0625rem;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 0.125rem;
}

.contrib-legend .legend li:nth-child(1) {
    background-color: #292c30 !important;
}

.contrib-legend .legend li:nth-child(2) {
    background-color: #316d3b !important;
}

.contrib-legend .legend li:nth-child(3) {
    background-color: #50b56b !important;
}

.contrib-legend .legend li:nth-child(4) {
    background-color: #68bf7f !important;
}

.contrib-legend .legend li:nth-child(5) {
    background-color: #89c49c !important;
}

.text-small {
    font-size: 0.75rem;
    color: #767676;
}

.calendar-graph {
    padding: 0.3125rem 0 0;
    text-align: center;
}

.contrib-column {
    padding: 0.9375rem 0;
    text-align: center;
    font-size: 0.875rem;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 1.5rem;
    display: block;
    color: honeydew;
    margin: 0.375rem 0;
}

.calendar img.spinner {
    width: 4.375rem;
    margin-top: 3.125rem;
    min-height: 4.375rem;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 0.6875rem;
    padding: 0 0.625rem 0.75rem;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 1.625rem;
}

.left.text-muted {
    float: left;
    margin-left: 0.5625rem;
    color: honeydew;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
    visibility: hidden;
}
#user-activity-overview{
    display:none;
}

.day {
    rx: 2px;
}

.day[fill="#ebedf0"] {
    fill: #292c30;
}

.day[fill="#9be9a8"] {
    fill: #316d3b;
}

.day[fill="#40c463"] {
    fill: #50b56b;
}

.day[fill="#30a14e"] {
    fill: #68bf7f;
}

.day[fill="#216e39"] {
    fill: #89c49c;
}

.day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 0.625rem;
    font-size: 0.75rem;
    color: #959da5;
    text-align: center;
    background: rgba(0,0,0,.85);
    border-radius: 0.1875rem;
    display: none;
    pointer-events: none;
}
.day-tooltip strong {
    color: #dfe2e5;
}
.day-tooltip.is-visible {
    display: block;
}
.day-tooltip:after {
    position: absolute;
    bottom: -0.625rem;
    left: 50%;
    width: 0.3125rem;
    height: 0.3125rem;
    box-sizing: border-box;
    margin: 0 0 0 -0.3125rem;
    content: " ";
    border: 0.3125rem solid transparent;
    border-top-color: rgba(0,0,0,.85)
}

.position-relative {
    box-shadow: 0 0 1.875rem rgb(41,44,48);
    border-radius: 1.25rem;
}